server:
  port: 8082

spring:
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    streams:
      application-id: event-processor-service-v3
      properties:
        commit.interval.ms: 1000
        auto.offset.reset: latest
      default:
        key:
          serde: org.apache.kafka.common.serialization.Serdes$StringSerde
        value:
          serde: org.apache.kafka.common.serialization.Serdes$StringSerde

logging:
  level:
    root: INFO
    com.streamride: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
