spring:
  application:
    name: producer-service
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3

server:
  port: 8081

logging:
  level:
    com.streamride: INFO
    org.apache.kafka: WARN